#header {
    border-bottom: 1px solid;
    background-color: #0A001B;
    width: 100%;
    color: white;
}

#header a {
    color: white;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 3em 0.75em 3em;
}


.logo {
    font-size: 2em;
}

.logo a {
    text-decoration: none;
}

.navbar-header ul {
    display: flex;
    gap: 2em;
}

.navbar-header ul li {
    list-style: none;
}

.navbar-header a {
    text-decoration: none;
}

.navbar-header a:hover {
    text-decoration: underline;
    color: #a8ebfc;
}

.rs{
    display: flex;
    gap: 1em;
}

.rs_icon img{
    width: 30px;
    height: 30px;
}
