<div
    class="w-full text-zinc-900 border-zinc-200 bg-white/60 backdrop-blur-md px-8 py-6 flex justify-between items-center shadow-sm">
    <p class="text-2xl font-medium tracking-tight">
        <a href="../../index.html" class="no-underline text-zinc-900 transition-colors hover:text-zinc-600">Maël
            Barbé</a>
    </p>
    <nav class="flex items-center gap-6" id="nav_header">
        <button id="burger_btn" class="flex flex-col gap-[5px] border-0 bg-transparent cursor-pointer md:hidden">
            <div class="w-[25px] h-[3px] bg-zinc-800 rounded-[12px] transition-all ease-in-out duration-300 line"></div>
            <div class="w-[25px] h-[3px] bg-zinc-800 rounded-[12px] transition-all ease-in-out duration-300 line"></div>
            <div class="w-[25px] h-[3px] bg-zinc-800 rounded-[12px] transition-all ease-in-out duration-300 line"></div>
        </button>
        <ul id="nav-links" class="hidden md:flex gap-8 m-0 p-0">
            <li class="list-none"><a href="../../index.html"
                    class="text-zinc-600 no-underline hover:text-zinc-900 transition-colors font-medium">Accueil</a>
            </li>
            <li class="list-none"><a href="../../pages/projects/projects.html"
                    class="text-zinc-600 no-underline hover:text-zinc-900 transition-colors font-medium">Projets</a>
            </li>
            <li class="list-none"><a href="../../pages/cv/cv.html"
                    class="text-zinc-600 no-underline hover:text-zinc-900 transition-colors font-medium">CV</a></li>
        </ul>
    </nav>
    <div class="hidden md:flex gap-4 rs items-center">
        <a class="rs_icon" href="https://github.com/MaelBarbe" target="_blank">
            <img src="../../assets/rs/github_icon.svg" alt="Lien vers mon GitHub" class="w-[24px] h-[24px]" />
        </a>
        <a class="rs_icon" href="https://www.linkedin.com/in/mael-barbe/" target="_blank">
            <img src="../../assets/rs/LinkedIn_icon.svg" alt="Lien vers mon LinkdIn" class="w-[24px] h-[24px]" />
        </a>
    </div>
</div>