.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 3em 0.75em 3em;
}

#header {
    border-bottom: 1px solid;
}

.logo {
    font-size: 2em;
}

.logo a {
    text-decoration: none;
    color: black;
}

.navbar-header ul {
    display: flex;
    gap: 2em;
}

.navbar-header ul li {
    list-style: none;
}

.navbar-header a {
    text-decoration: none;
    color: black;
}

.navbar-header a:hover {
    text-decoration: underline;
    color: red;
}
