main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
    gap: 100px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero-text {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2em;
}

.projets-container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    gap: 3em;
}

.projets-container_title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.5em;
}

.projets-cards-container {
    display: flex;
    max-width: 1440px;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}

.projet-card {
    display: flex;
    flex-direction: column;
    width: 450px;
    background-color: black;
    color: white;
    gap: 3em;
    border-radius: 2em;
}

.projet-card a {
    display: flex;
    flex-direction: column;
    gap: 2em;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 3.5em;
    border-radius: 1em;
}

.projet-card_title {
    display: flex;
    justify-content: center;
    background-color: black;
}

.projet-card_desc {
    background-color: black;
}

.projet-card_technos {
    background-color: black;
}

.btn-cta {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: auto;
    color: black;
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
}

.btn-cta button {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.skills-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
    justify-content: center;
}

.skills_title {
    display: flex;
    justify-content: center;
    color: white;
}

.skills-cards {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 300px;
    padding: 2em 3em 3em 3em;
    gap: 3em;
    border-radius: 2em;
}

.skills-cards ul {
    display: flex;
    flex-direction: column;
    background-color: black;
    gap: 1em;
}

.skills-cards ul li {
    background-color: black;
}

.skills-cards h3 {
    display: flex;
    justify-content: center;
    background-color: black;
}
