@import url('/css/header.css');
@import url('/css/responsive.css');
@import url('/css/index.css');
@import url('/css/footer.css');

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3C3C3C;
}

