@import url('/components/header/header.css');
@import url('/components/footer/footer.css');
@import url('/components/slider/slider.css');

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
}


/* class for color */
.main-bg-color {
    background: linear-gradient(to bottom right, #111827, #1f2937, #000000);
}

.group:hover .group-hover\:rotate-y-180 {
    transform: rotateY(180deg);
}