#footer {
    display: flex;
    flex-direction: column;
    background-color: #0A001B;
    padding: 1.5em;
    gap: 2em;
}

.navbar-footer {
    background-color: #0A001B;
}

.navbar-footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    list-style: none;
    background-color: #0A001B;
}

.navbar-footer li {
    background-color: #0A001B;
}

.navbar-footer a{
    text-decoration: none;
    color: white;
    background-color: #0A001B;
}

.navbar-footer a:hover{
    text-decoration: underline;
    color: #a8ebfc;
    background-color: #0A001B;
}

.copyright_footer {
    background-color: #0A001B;
    color: white;
    display: flex;
    justify-content: center;
}